@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.section-title {
  @apply text-3xl md:text-4xl font-bold mb-6 text-slate-800;
}

.section-subtitle {
  @apply text-lg text-slate-600 mb-12 max-w-2xl mx-auto;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation: fadeIn 0.6s ease-out forwards;
}



@layer components {
  .link-hover {
    @apply hover:underline transition-all duration-300;
  }
  .skill-tag {
    @apply bg-slate-100 text-slate-800 rounded-full px-4 py-2 text-sm font-medium m-1;
  }

  .skill-tag.primary {
    @apply bg-black/85 text-white;
  }
}
